/.settings/
/build/
/CMakeFiles/
/elf2uf2/
/generated/
/pico-sdk/
/pioasm/
.cproject
.project
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Makefile
libFreeRTOS.a
LibreCAL.bin
LibreCAL.dis
LibreCAL.elf
LibreCAL.elf.map
LibreCAL.hex
LibreCAL.uf2
